.custom-search-input {
  background-color: #111;
  color: white;
  border: 1px solid #555;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  width: 100%;
  font-size: 0.95rem;
}

.custom-search-input input {
  background-color: transparent !important;
  color: white !important;
}

.custom-search-input:hover,
.custom-search-input:focus-within {
  border-color: #555;
  box-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {
  .custom-search-input {
    font-size: 0.9rem;
  }
}
