.food-card {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  gap: 0.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.food-image-container {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  background: white;
  margin-left: -15px; /* Reveal the round image outside */
}

.food-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.food-name {
  font-weight: 600;
  color: black;
  font-size: 1rem;
}

.food-price {
  color: #00c853;
  font-size: 0.95rem;
  margin-top: 0.2rem;
  font-weight: 600;
}

.food-quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #070707;
  font-size: 0.95rem;
}

.food-quantity button {
  background: #e0e0e0;
  border: none;
  padding: 4px 8px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.food-checkbox {
  margin-left: 0.5rem;
  transform: scale(1.2);
}

.food-quantity span {
  font-size: 1rem;
  font-weight: 600;

  display: inline-block;
  text-align: center;
}
